# PostgreSQL
DATABASE_URL=postgres://admin:secretpassword@localhost/notiasis

# Meta API Config (para enviar mensajes libres desde la webapp)
WHATSAPP_TOKEN=your_whatsapp_access_token
WHATSAPP_PHONE_ID=your_whatsapp_phone_number_id

# Puerto del backend (opcional, por defecto 3000)
PORT=3000
